
nav
  top: 0
  width: 100%
  height: 70px
  background-color: hsla(0,0%,100%,0.97)
  box-shadow: $shadow
  z-index: 99

  .wrap-nav
    position: relative
    display: flex
    justify-content: space-between
    height: 100%
    margin: 0 auto
    max-width: 1200px
    padding: 0 1rem


  // Left
  .ctr-logoLockup
    display: flex
    align-items: center
    
  .ctr-logo
    display: flex
    justify-content: center
    align-items: center
    width: 207px
    height: 100%
    cursor: pointer

    img
      width: 207px
      height: 36px

  .divider
    width: 1px
    height: 40px
    background-color: $d1
    margin-left: 20px

  .ctr-text
    overflow: hidden
    
    li
      color: $d3
      font-family: "bebas-neue", 'Roboto', sans-serif
      font-size: 1.1rem
      line-height: 1.1rem
      margin-left: 8px
      text-transform: uppercase
      transform: translateX(-120%)
      
      @for $i from 1 through 2
        &:nth-child(#{$i})
          animation:
            name: lockupTextAnimate
            duration: 650ms
            delay: (300ms + ($i * 100ms))  // initial delay is 300ms, then each line pops out 100ms later than the one before it.
            timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
            fill-mode: forwards

    @keyframes lockupTextAnimate
      0%
        transform: translateX(-120%)

      100%
        transform: translateX(0)


  



  // Right
  .menuBtn
    display: none
    justify-content: center
    align-items: center
    width: 68px
    height: calc(100% - 12px)
    margin: 6px
    cursor: pointer
    transition: 0.3s

  .menuBtn:hover
    background-color: #EFF3F5









// *****************
// NavMenu - Desktop
// *****************

.navMenu-desktop
  position: relative
  display: flex
  height: 100%

  .navItem
    position: relative
    display: flex
    align-items: center
    height: 100%
    padding: 0 14px
    color: $d3
    cursor: pointer
    font-weight: 700
    font-size: 0.8rem
    text-transform: uppercase
    transition: 0.3s

    &:hover
      background-color: $l3

  svg
    +size(18px, 18px)
    fill: $d3
    margin: 0 -4px -1px 3px
    transition: 0.3s

  .dropdown
    position: absolute
    top: 76px
    right: 0
    min-width: 260px
    padding: 6px
    background-color: $l1
    box-shadow: $shadow
    white-space: nowrap
    transition: 0.3s ease-in-out

    li
      display: flex
      align-items: center
      padding: 0.8rem 1.8rem

      &:first-of-type
        padding-top: 1.4rem
      &:last-of-type
        padding-bottom: 1.4rem
      &:hover
        background-color: $l3

    img
      +size(21px, 15px)

    span
      margin: 1px 0 0 8px

    hr
      margin: 6px 0






// Below needs cleanup ↓






  // a
  //   display: block
  //   // +size(100%, 100%)
  //   // margin: 0 14px

  // .ctr-ourBrands-desktop
  //   position: relative


  // .ourBrands-desktop
  //   position: absolute
  //   bottom: -113px
  //   left: -62px
  //   width: 250px
  //   display: flex
  //   flex-direction: column
  //   align-items: center
  //   background-color: #FFFFFF
  //   border-radius: 3px
  //   box-shadow: 0 6px 30px hsla(204, 46%, 53%, 0.18)

  //   li
  //     height: 50px

  //   li:hover:before
  //     opacity: 0

  //   a:first-of-type
  //     border-bottom: 1px solid #DEE2E8

  //   .dropdownPoint
  //     position: absolute
  //     top: -6px
  //     display: block
  //     width: 12px
  //     height: 12px
  //     background-color: #FFFFFF
  //     border-radius: 3px 0 10px 0
  //     transform: rotate(45deg)









// **********
// Animations
// **********

.menuTransition-enter
  transform: translateY(16px)
  opacity: 0
.menuTransition-enter-active
  transform: translateY(0px)
  opacity: 1
  transition: 300ms ease-in-out
.menuTransition-exit
  transform: translateY(0px)
  opacity: 1
  transition: 300ms ease-in-out
.menuTransition-exit-active
  transform: translateY(16px)
  opacity: 0






/* ************* */
/* Media Queries */
/* ************* */

@media (max-width: 1200px)
  // .navMenu-desktop li
  //   padding: 0 10px

@media (max-width: 960px)
  .navMenu-desktop
    display: none




// *************
// Media Queries
// *************

@media (max-width: 960px)
  nav
    .wrap-nav
      padding-right: 0
    
    .menuBtn
      display: flex

@media (max-width: 640px)
  nav
    height: 60px

    .ctr-logo
      width: 170px

      img
        width: 170px
        height: 30px

    .menuBtn
      width: 48px





