
.ctr-productsGrid
  padding: 0 30px

  .row-offset-15
    flex-wrap: wrap
    justify-content: flex-start
    // align-items: flex-start

  .ctr-card
    display: flex
    flex-direction: column
    position: relative
    width: calc(33.33% - 30px)
    margin: 300px 15px 0

    @media (max-width: 960px)
      width: calc(50% - 30px)
    @media (max-width: 600px)
      width: calc(100% - 30px)
      
  .card
    +size(100%, 100%)
    display: flex
    flex-direction: column
    
    &:hover .ctr-productImg
      transform: translateY(3px)



  .ctr-productImg
    pointer-events: none
    position: relative
    bottom: -16px
    width: 100%
    height: 90px
    transition: 0.2s ease-in-out

    img
      position: absolute
      bottom: 0
      left: 6%
      width: 88%



  .ctr-productInfo
    padding: 0 24px 30px
    flex: 1

  h2
    margin-bottom: 8px

  p
    margin-bottom: 20px
  
  .idealFor
    display: flex

    svg
      margin: 2px
      +size(18px, 18px)
      min-width: 18px
      min-height: 18px
      fill: $d4
    
    span
      margin-left: 6px



  .txtBtn
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 24px
    height: 70px
    border-top: 1px solid $border
    cursor: pointer

    svg
      fill: $d4


  .ctr-dropdown
    position: relative

  .dropdown
    position: absolute
    top: 0
    width: 100%
    padding: 0 24px
    background-color: $l1
    box-shadow: $shadow
    // for animation
    overflow: hidden
    transition: height 0.3s ease-in-out

  .ctr-model
    padding-bottom: 1.4rem

    p
      margin: 0

  .modelNum span
    color: $d1
    font-size: 0.8rem

    





// Isolation Overlay

.productModalOverlay
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: hsla(0, 0%, 0%, 0.8)
  z-index: 1000

  .close
    position: absolute
    top: 1rem
    right: 1rem
    z-index: 2
    width: 50px
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    background-color: hsla(0, 0%, 0%, 0)
    border-radius: 3px
    cursor: pointer
    transition: 0.2s ease-in-out

    &:hover
      background-color: hsla(0, 0%, 100%, 0.1)