.pageLanding
  .ctr-hero
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 710px
    padding: 20px
    background-color: $l2
    background-position: center
    background-size: cover
    
    h1
      margin: 0
      text-align: center
      color: $p1

    h4
      max-width: 700px
      margin: 30px auto 0
      text-align: center
      color: $l2

    .btn
      margin-top: 1.8rem



  .section-cta

    .cta
      flex: 1
      margin: 0 15px

    .bgImg
      display: block
      position: relative
      +aspectRatio(62%)
      margin-bottom: 2.4rem
      background-color: $l3
      background-position: center
      background-size: cover
      transition: transform 0.2s
      box-shadow: $deepShadow

      &:hover
        transform: translateY(2px)

    h2
      font-family: "bebas-neue", 'Roboto', sans-serif
      font-weight: normal
      margin-bottom: 0.5rem
    
    p
      margin-bottom: 1rem
      padding-right: 1rem

    .textBtn
      display: flex
      align-items: center
      padding: 10px 0

      &:hover svg
        transform: translateX(3px)

      h3
        display: inline
        font-family: "bebas-neue", 'Roboto', sans-serif
        font-weight: normal

      svg
        fill: $d4
        transition: 0.2s ease-in-out







  @media (min-width: 1500px)
    .ctr-hero
      height: 1200px
      height: 50vw


  @media (max-width: 768px)
    .ctr-hero
      height: 600px

    .section-cta
      display: flex
      justify-content: center
      padding-top: 3rem

    .row-offset-1rem
      flex-direction: column
      max-width: 480px

    .section-cta
      .cta
        margin-bottom: 4rem
        &:last-child
          margin-bottom: 2rem

      p
        margin-bottom: .8rem



  @media (max-width: 520px)
    .ctr-hero
      height: 500px

      h4
        font-size: 1.1rem
        line-height: 22px
