
.ctr-productsGrid

  .row-offset-15
    // flex-wrap: wrap
    // justify-content: center

  .card
    position: relative
    margin: 100px 15px 0
    // min-width: 24%
    // max-width: 30%

  img
    position: absolute
    top: -14.5rem
    left: 0
    width: 100%

  .ctr-productInfo
    padding: 5rem 24px 30px

  h2
    margin-bottom: 8px

  p
    margin-bottom: 20px

  .textBtn
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 24px
    height: 70px
    border-top: 1px solid $border
    cursor: pointer
