
.page-hustlerStory

  .ctr-left
    flex: 1
    margin: 0 1rem

    h2:last-of-type
      margin-bottom: 1rem

  .ctr-right
    flex: 2
    margin: 0 1rem 0 4rem

    img
      width: 100%
      box-shadow: $deepShadow

  @media (max-width: 768px)
    .row-offset-1rem
      flex-direction: column-reverse

    .ctr-right
      margin: 0 1rem 3rem



.page-whyHustler

  h2
    margin-bottom: 0.6rem

  p
    margin-bottom: 3rem

  sup
    font-size: 1.2rem

  
  @media (max-width: 859px)
    .ctr-contentLg
      display: none

    .ctr-contentSm
      flex-direction: column
      margin-left: auto
      margin-right: auto
      max-width: 500px



  @media (min-width: 860px)
    .ctr-contentSm
      display: none

    .ctr-contentLg

      .ctr-left
        flex: 1.2
        margin: 0 1rem

      .ctr-right
        flex: 2
        margin: 0 1rem 0 4rem




.page-europeanDistribution

  .ctr-left
    flex: 1
    margin: 0 1rem

  .btn
    margin-top: 2rem

  .ctr-right
    flex: 2
    margin: 0 1rem 0 4rem

    img
      width: 100%
      box-shadow: $deepShadow
  
  @media (max-width: 768px)
    .row-offset-1rem
      flex-direction: column-reverse

    .ctr-right
      margin: 0 1rem 3rem

  @media (max-width: 420px)
    .btn
      width: 100%
