.page-contactUs

  .accentBar + p
    margin: 4rem 0 0 0

  .row-offset-8
    flex-wrap: wrap
    justify-content: flex-start
    margin-top: 1.5rem

    .ctr-input
      display: flex
      flex-direction: column
      // position: relative
      width: calc(33.33% - 1rem)
      margin: 0 8px 30px

      @media (max-width: 960px)
        width: calc(50% - 1rem)
      @media (max-width: 600px)
        width: calc(100% - 1rem)

    .ctr-textarea
      width: 100%
      margin: 0 8px 30px

    input, textarea
      width: 100%
      padding: 1rem
      background-color: $l3
      border: 1px solid $l3
      color: $d2
      transition: 0.6s $zease
        
      &:focus
        background-color: $l1
        border: 1px solid $border

    input
      height: 60px

    .caption
      text-align: right


    .ctr-submit
      margin: 0 8px 30px

    .btn
      padding: 1.2rem 6rem