html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #F8F8F8; }

h4, h5, p, li, a, .btn, span, label, input, select, textarea {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3 {
  color: #303030;
  font-family: "bebas-neue", 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  margin: 0;
  font-size: 3.815rem;
  line-height: 3.815rem; }

h2 {
  margin: 0;
  font-size: 2.441rem;
  line-height: 2.441rem; }

h3 {
  margin: 0;
  font-size: 1.563rem;
  line-height: 1.563rem; }

h4 {
  color: #303030;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px; }

h5 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 900; }

p, input, select, textarea, span {
  margin: 0;
  color: #555555;
  font-size: 1rem;
  line-height: 1.5rem; }

a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none; }

a, li, label, .btn, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

hr {
  border: 0;
  margin: 0;
  padding: 0;
  border-top: 1px solid #DDDDDD; }

sup {
  line-height: 0; }

input, select, textarea, a {
  outline: none;
  box-shadow: none; }

.bodyCopy {
  margin-bottom: 1rem; }

.linkInBodyCopy {
  padding: 3px 4px;
  margin: 0 4px;
  color: #555555;
  background-color: #F8F8F8;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  transition: 0.1s ease-in-out; }
  .linkInBodyCopy:hover {
    background-color: #FFFFFF;
    border: 1px solid #FFC324;
    color: #d79c00; }

.bold {
  font-weight: 900; }

.italic {
  font-style: italic; }

.relative {
  position: relative; }

.alignItems {
  display: flex;
  align-items: center; }

.pageWrap {
  min-height: 100vh;
  min-height: calc(100vh - 550px); }

section {
  position: relative; }

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 1rem 0; }

.row-offset-8 {
  display: flex;
  margin: 0 -8px; }

.row-offset-1rem {
  display: flex;
  margin: 0 -1rem;
  margin-top: 4rem; }

.accentBar {
  width: 80px;
  height: 6px;
  margin: 1rem 0;
  background-color: #FFC324;
  background-image: linear-gradient(to right, #FFC324 0%, #FEE86B 100%); }

.accent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #FFC324;
  background-image: linear-gradient(to right, #FFC324 0%, #FEE86B 100%);
  transition: 0.3s ease-in-out; }

button {
  border: none; }

.btn {
  padding: 1.2rem 3rem;
  display: inline-block;
  color: #303030;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s; }

.btn-gold {
  background-color: #FFC324;
  background-image: linear-gradient(to right, #FFC324 0%, #FEE86B 100%);
  font-family: "bebas-neue", 'Roboto', sans-serif;
  font-weight: normal; }

.btn-sm {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 700; }

.btn:hover, .btn:focus {
  transform: translateY(2px); }

.card {
  background-color: #FFFFFF;
  box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.1); }

.caption {
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin: 0;
  padding: 0; }

.fadeInUp-enter {
  transform: translateY(16px);
  opacity: 0; }

.fadeInUp-enter-active {
  transform: translateY(0px);
  opacity: 1;
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1); }

.fadeInUp-exit {
  transform: translateY(0px);
  opacity: 1;
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1); }

.fadeInUp-exit-active {
  transform: translateY(16px);
  opacity: 0; }

.fadeIn-enter {
  opacity: 0; }

.fadeIn-enter-active {
  opacity: 1;
  transition: 300ms ease-in-out; }

.fadeIn-exit {
  opacity: 1;
  transition: 300ms ease-in-out; }

.fadeIn-exit-active {
  opacity: 0; }

.tooltipIn-enter {
  opacity: 0;
  transform: translateX(24px); }

.tooltipIn-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.tooltipIn-exit {
  opacity: 1;
  transform: translateX(0px);
  transition: 150ms ease-in; }

.tooltipIn-exit-active {
  opacity: 0;
  transform: translateX(4px); }

@media (max-width: 520px) {
  .wrap {
    padding-top: 5rem; }
  .row-offset-1rem {
    margin-top: 3rem; }
  h1 {
    font-size: 2.8rem;
    line-height: 2.8rem; } }

nav {
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.1);
  z-index: 100; }
  nav .wrap-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem; }
  nav .ctr-logoLockup {
    display: flex;
    align-items: center; }
  nav .ctr-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 100%;
    cursor: pointer; }
    nav .ctr-logo img {
      width: 207px;
      height: 36px; }
  nav .divider {
    width: 1px;
    height: 40px;
    background-color: #AAAAAA;
    margin-left: 20px; }
  nav .ctr-text {
    overflow: hidden; }
    nav .ctr-text li {
      color: #555555;
      font-family: "bebas-neue", 'Roboto', sans-serif;
      font-size: 1.1rem;
      line-height: 1.1rem;
      margin-left: 8px;
      text-transform: uppercase;
      transform: translateX(-120%); }
      nav .ctr-text li:nth-child(1) {
        animation-name: lockupTextAnimate;
        animation-duration: 650ms;
        animation-delay: 400ms;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards; }
      nav .ctr-text li:nth-child(2) {
        animation-name: lockupTextAnimate;
        animation-duration: 650ms;
        animation-delay: 500ms;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards; }

@keyframes lockupTextAnimate {
  0% {
    transform: translateX(-120%); }
  100% {
    transform: translateX(0); } }

.navMenu-desktop {
  position: relative;
  display: flex;
  height: 100%; }
  .navMenu-desktop .navItem {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 14px;
    cursor: pointer;
    transition: 0.3s; }
    .navMenu-desktop .navItem span, .navMenu-desktop .navItem .dropdownItem {
      color: #555555;
      font-weight: 700;
      font-size: 0.8rem;
      text-transform: uppercase; }
    .navMenu-desktop .navItem img {
      width: 21px;
      height: 15px;
      margin: -1px 0 0 10px; }
    .navMenu-desktop .navItem:hover {
      background-color: #EAEAEA; }
  .navMenu-desktop svg {
    width: 18px;
    height: 18px;
    fill: #555555;
    margin: 0 -4px -1px 3px;
    transition: 0.3s; }
  .navMenu-desktop .dropdown {
    position: absolute;
    top: 76px;
    right: 0;
    min-width: 260px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    transition: 0.3s ease-in-out; }
    .navMenu-desktop .dropdown .dropdownItem {
      display: flex;
      align-items: center;
      padding: 0.8rem 1.8rem; }
      .navMenu-desktop .dropdown .dropdownItem:first-of-type {
        padding-top: 1.4rem; }
      .navMenu-desktop .dropdown .dropdownItem:last-of-type {
        padding-bottom: 1.4rem; }
      .navMenu-desktop .dropdown .dropdownItem:hover {
        background-color: #EAEAEA; }
    .navMenu-desktop .dropdown img {
      width: 21px;
      height: 15px; }
    .navMenu-desktop .dropdown span {
      margin: 1px 0 0 10px; }
    .navMenu-desktop .dropdown hr {
      margin: 6px 0; }

.navMenu-mobile .menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: calc(100% - 12px);
  margin: 6px;
  cursor: pointer;
  transition: 0.3s; }
  .navMenu-mobile .menuBtn:hover {
    background-color: #EFF3F5; }

.navMenu-mobile .mobileList {
  position: absolute;
  top: 76px;
  right: 6px;
  min-width: 300px;
  max-height: 80vh;
  max-height: calc(100vh - 72px);
  overflow-y: auto;
  padding: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  transition: 0.3s ease-in-out; }
  .navMenu-mobile .mobileList span, .navMenu-mobile .mobileList .dropdownItem {
    color: #555555;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase; }
  .navMenu-mobile .mobileList svg {
    width: 18px;
    height: 18px;
    fill: #555555;
    margin: 0 -4px -1px 3px;
    transition: 0.3s; }

.navMenu-mobile .navItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.8rem 1.8rem; }
  .navMenu-mobile .navItem:first-child {
    padding-top: 1.4rem; }
  .navMenu-mobile .navItem:last-child {
    padding-bottom: 1.4rem; }
  .navMenu-mobile .navItem:hover {
    background-color: #EAEAEA; }
  .navMenu-mobile .navItem img {
    width: 21px;
    height: 15px;
    margin: -1px 0 0 10px; }

.navMenu-mobile .dropdown .dropdownItem {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.8rem; }
  .navMenu-mobile .dropdown .dropdownItem:first-of-type {
    padding-top: 1.4rem; }
  .navMenu-mobile .dropdown .dropdownItem:last-of-type {
    padding-bottom: 1.4rem; }
  .navMenu-mobile .dropdown .dropdownItem:hover {
    background-color: #EAEAEA; }

.navMenu-mobile .dropdown img {
  width: 21px;
  height: 15px;
  margin: -1px 10px 0 0; }

.navMenu-mobile .dropdown hr {
  margin: 6px 0; }

@media (min-width: 901px) {
  .navMenu-mobile {
    display: none; } }

@media (max-width: 900px) {
  nav .wrap-nav {
    padding-right: 0; }
  .navMenu-desktop {
    display: none; } }

@media (max-width: 640px) {
  nav {
    height: 60px; }
    nav .ctr-logo {
      width: 170px; }
      nav .ctr-logo img {
        width: 170px;
        height: 30px; }
  .navMenu-mobile .mobileList {
    top: 66px;
    left: 6px; }
  .navMenu-mobile .menuBtn {
    width: 48px; } }

@media (max-width: 400px) {
  nav .divider {
    display: none; }
  nav .ctr-text {
    display: none; } }

footer {
  margin-top: 120px;
  width: 100%;
  background-color: #303030; }
  footer hr {
    border-top: 1px solid #555555; }

/* Top Section */
.footer-wrap-top {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
  /* About box */ }
  .footer-wrap-top .ctr-top {
    display: flex;
    justify-content: space-between; }
  .footer-wrap-top .ctr-pageListings {
    flex: 8;
    display: flex;
    padding-top: 36px; }
  .footer-wrap-top ul {
    padding-right: 12%; }
  .footer-wrap-top h5 {
    color: #AAAAAA;
    margin-bottom: 0.6rem; }
  .footer-wrap-top li {
    color: #AAAAAA;
    font-size: 14px;
    padding: 4px 0;
    transition: 0.2s; }
    .footer-wrap-top li:hover {
      color: #FFC324; }
  .footer-wrap-top .ctr-about {
    flex: 4;
    min-width: 300px;
    background-color: #555555;
    padding: 36px 24px; }
  .footer-wrap-top p {
    color: #AAAAAA;
    font-size: 0.88rem;
    line-height: 1.3rem;
    margin: 0px; }
    .footer-wrap-top p:nth-of-type(2) {
      margin: 1rem 0 3rem; }
  .footer-wrap-top .ctr-social {
    display: flex;
    align-items: center; }
    .footer-wrap-top .ctr-social h5 {
      margin: 0 1rem 0 0; }
    .footer-wrap-top .ctr-social a:hover svg {
      color: #FFC324; }
    .footer-wrap-top .ctr-social svg {
      color: #AAAAAA;
      margin: 6px;
      transition: 0.2s ease-in-out; }

/* Bottom Section */
.footer-wrap-bottom {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem; }
  .footer-wrap-bottom .ctr-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%; }
  .footer-wrap-bottom img {
    width: 207px;
    height: 37px; }
  .footer-wrap-bottom span, .footer-wrap-bottom a {
    color: #AAAAAA;
    font-size: 0.8rem; }
  .footer-wrap-bottom a {
    text-decoration: transparent;
    transition: 0.3s; }
    .footer-wrap-bottom a:hover {
      text-decoration: underline; }

/* ************* */
/* Media Queries */
/* ************* */
@media (max-width: 960px) {
  footer {
    margin-top: 80px; } }

@media (max-width: 730px) {
  footer .ctr-pageListings {
    flex: 4;
    flex-direction: column; }
    footer .ctr-pageListings ul:first-child {
      margin-bottom: 2rem; }
  footer .footer-wrap-bottom {
    padding: 1.2rem; }
    footer .footer-wrap-bottom .ctr-bottom {
      flex-direction: column;
      justify-content: center;
      height: auto; }
  footer .ctr-bottom svg {
    width: 164px;
    height: 30px;
    margin-bottom: 1.3rem; }
  footer .ctr-bottom a {
    margin: 0.8rem 0; }
  footer .ctr-bottom > a {
    margin-bottom: 1.4rem; } }

@media (max-width: 560px) {
  footer .backToTop {
    right: 20px; }
  footer .ctr-top {
    justify-content: space-between;
    flex-direction: column; }
  footer .ctr-pageListings {
    text-align: center; }
    footer .ctr-pageListings ul {
      padding-right: 0; }
  footer .ctr-pageListings .navigation {
    padding: 0 !important; }
  footer .ctr-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem -1rem 0;
    padding: 36px 30px;
    text-align: center; }
  footer .ctr-bottom a {
    display: block;
    text-align: center; }
  footer .ctr-bottom span:nth-of-type(3) {
    display: none; }
  footer .ctr-copyright span {
    line-height: 1rem; } }

@media (max-width: 420px) {
  footer .footer-wrap-top {
    padding: 0 20px; }
  footer .ctr-about {
    margin: 2rem -20px 0;
    padding: 36px 20px; } }

@media (max-width: 400px) {
  footer .ctr-bottom span {
    display: block;
    text-align: center; } }

.pageLanding .ctr-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 710px;
  padding: 20px;
  background-color: #F8F8F8;
  background-position: center;
  background-size: cover; }
  .pageLanding .ctr-hero h1 {
    margin: 0;
    text-align: center;
    color: #FFC324; }
  .pageLanding .ctr-hero h4 {
    max-width: 700px;
    margin: 30px auto 0;
    text-align: center;
    color: #F8F8F8; }
  .pageLanding .ctr-hero .btn {
    margin-top: 1.8rem; }

.pageLanding .section-cta .cta {
  flex: 1;
  margin: 0 15px; }

.pageLanding .section-cta .bgImg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 62% 0 0 0;
  margin-bottom: 2.4rem;
  background-color: #EAEAEA;
  background-position: center;
  background-size: cover;
  transition: transform 0.2s;
  box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.3); }
  .pageLanding .section-cta .bgImg:hover {
    transform: translateY(2px); }

.pageLanding .section-cta h2 {
  font-family: "bebas-neue", 'Roboto', sans-serif;
  font-weight: normal;
  margin-bottom: 0.5rem; }

.pageLanding .section-cta p {
  margin-bottom: 1rem;
  padding-right: 1rem; }

.pageLanding .section-cta .textBtn {
  display: flex;
  align-items: center;
  padding: 10px 0; }
  .pageLanding .section-cta .textBtn:hover svg {
    transform: translateX(3px); }
  .pageLanding .section-cta .textBtn h3 {
    display: inline;
    font-family: "bebas-neue", 'Roboto', sans-serif;
    font-weight: normal; }
  .pageLanding .section-cta .textBtn svg {
    fill: #303030;
    transition: 0.2s ease-in-out; }

@media (min-width: 1500px) {
  .pageLanding .ctr-hero {
    height: 1200px;
    height: 50vw; } }

@media (max-width: 768px) {
  .pageLanding .ctr-hero {
    height: 600px; }
  .pageLanding .section-cta {
    display: flex;
    justify-content: center;
    padding-top: 3rem; }
  .pageLanding .row-offset-1rem {
    flex-direction: column;
    max-width: 480px; }
  .pageLanding .section-cta .cta {
    margin-bottom: 4rem; }
    .pageLanding .section-cta .cta:last-child {
      margin-bottom: 2rem; }
  .pageLanding .section-cta p {
    margin-bottom: .8rem; } }

@media (max-width: 520px) {
  .pageLanding .ctr-hero {
    height: 500px; }
    .pageLanding .ctr-hero h4 {
      font-size: 1.1rem;
      line-height: 22px; } }

.page-products .row-offset-1rem {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0rem; }
  .page-products .row-offset-1rem .ctr-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(33.33% - 30px);
    margin: 220px 15px 80px; }
    @media (max-width: 960px) {
      .page-products .row-offset-1rem .ctr-card {
        width: calc(50% - 30px); } }
    @media (max-width: 600px) {
      .page-products .row-offset-1rem .ctr-card {
        width: calc(100% - 30px); } }
  .page-products .row-offset-1rem .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer; }
    .page-products .row-offset-1rem .card:hover .ctr-productImg--grid {
      transform: translateY(3px); }
  .page-products .row-offset-1rem .ctr-productImg--grid {
    pointer-events: none;
    position: relative;
    bottom: -16px;
    width: 100%;
    height: 90px;
    transition: 0.2s ease-in-out; }
    .page-products .row-offset-1rem .ctr-productImg--grid img {
      position: absolute;
      bottom: 0;
      left: 6%;
      width: 88%; }
  .page-products .row-offset-1rem .txtBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 70px;
    border-top: 1px solid #DDDDDD; }
    .page-products .row-offset-1rem .txtBtn svg {
      fill: #303030; }

.page-products .ctr-productInfo {
  padding: 0 24px 30px;
  flex: 1; }
  .page-products .ctr-productInfo h2 {
    margin-bottom: 8px; }
  .page-products .ctr-productInfo p {
    margin-bottom: 20px; }
  .page-products .ctr-productInfo .idealFor {
    display: flex; }
  .page-products .ctr-productInfo svg {
    margin: 2px;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    fill: #303030; }
  .page-products .ctr-productInfo span {
    margin-left: 6px; }

.page-products .modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 200; }

.page-products .ctr-productModal--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 210; }

.page-products .ctr-productModal--scroll {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  overflow-y: auto;
  z-index: 220; }

.page-products .productModal {
  position: relative;
  margin: 3rem auto;
  width: 700px;
  max-width: 100%;
  background-color: #FFFFFF;
  z-index: 300; }
  .page-products .productModal .ctr-productModalTop {
    position: relative; }
  .page-products .productModal .close {
    position: absolute;
    z-index: 310;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .page-products .productModal .close svg {
      fill: #FFFFFF; }
    .page-products .productModal .close:hover {
      background-color: rgba(255, 255, 255, 0.15); }
  .page-products .productModal .productBgImg {
    background-color: #EAEAEA;
    width: 100%;
    height: 310px;
    background-position: center;
    background-size: cover; }
  .page-products .productModal .ctr-productInfo {
    position: absolute;
    top: 0;
    max-width: 345px;
    padding: 50px 30px; }
    .page-products .productModal .ctr-productInfo h2 {
      color: #FFFFFF;
      font-size: 3rem;
      line-height: 3rem; }
    .page-products .productModal .ctr-productInfo p {
      margin-bottom: 20px;
      color: #FFFFFF; }
    .page-products .productModal .ctr-productInfo svg {
      fill: #FFFFFF; }
    .page-products .productModal .ctr-productInfo span {
      color: #FFFFFF; }
  .page-products .productModal .ctr-productImg--modal {
    position: absolute;
    bottom: -120px;
    right: 10px;
    width: 100%;
    max-width: 380px; }
    .page-products .productModal .ctr-productImg--modal img {
      width: 100%; }
  .page-products .productModal .ctr-productModalBottom {
    margin-top: 100px;
    overflow: hidden; }
  .page-products .productModal h3 {
    margin: 12px 30px; }
  .page-products .productModal .ctr-model {
    position: relative;
    border-top: 1px solid #DDDDDD;
    padding: 22px 30px; }
    .page-products .productModal .ctr-model p {
      margin: 0; }
    .page-products .productModal .ctr-model:last-of-type {
      border-bottom: 1px solid #DDDDDD; }
  .page-products .productModal .modelNum {
    position: absolute;
    top: 10px;
    right: 30px; }
    .page-products .productModal .modelNum span {
      color: #AAAAAA;
      font-size: 0.8rem; }
  .page-products .productModal .btn {
    display: block;
    margin: 20px 30px; }

@media (max-width: 500px) {
  .page-products .productModal .productBgImg {
    height: 380px; }
  .page-products .productModal .ctr-productImg--modal {
    right: 50%;
    transform: translateX(50%); } }

@media (max-width: 400px) {
  .page-products .row-offset-1rem .ctr-card {
    margin-top: 150px; } }

.page-hustlerStory .ctr-left {
  flex: 1;
  margin: 0 1rem; }
  .page-hustlerStory .ctr-left h2:last-of-type {
    margin-bottom: 1rem; }

.page-hustlerStory .ctr-right {
  flex: 2;
  margin: 0 1rem 0 4rem; }
  .page-hustlerStory .ctr-right img {
    width: 100%;
    box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.3); }

@media (max-width: 768px) {
  .page-hustlerStory .row-offset-1rem {
    flex-direction: column-reverse; }
  .page-hustlerStory .ctr-right {
    margin: 0 1rem 3rem; } }

.page-whyHustler h2 {
  margin-bottom: 0.6rem; }

.page-whyHustler p {
  margin-bottom: 3rem; }

.page-whyHustler sup {
  font-size: 1.2rem; }

@media (max-width: 859px) {
  .page-whyHustler .ctr-contentLg {
    display: none; }
  .page-whyHustler .ctr-contentSm {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px; } }

@media (min-width: 860px) {
  .page-whyHustler .ctr-contentSm {
    display: none; }
  .page-whyHustler .ctr-contentLg .ctr-left {
    flex: 1.2;
    margin: 0 1rem; }
  .page-whyHustler .ctr-contentLg .ctr-right {
    flex: 2;
    margin: 0 1rem 0 4rem; } }

.page-europeanDistribution .ctr-left {
  flex: 1;
  margin: 0 1rem; }

.page-europeanDistribution .btn {
  margin-top: 2rem; }

.page-europeanDistribution .ctr-right {
  flex: 2;
  margin: 0 1rem 0 4rem; }
  .page-europeanDistribution .ctr-right img {
    width: 100%;
    box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.3); }

@media (max-width: 768px) {
  .page-europeanDistribution .row-offset-1rem {
    flex-direction: column-reverse; }
  .page-europeanDistribution .ctr-right {
    margin: 0 1rem 3rem; } }

@media (max-width: 420px) {
  .page-europeanDistribution .btn {
    width: 100%; } }

.page-findADistributor .ctr-left {
  flex: 1;
  margin: 0 1rem; }
  .page-findADistributor .ctr-left > p {
    margin-bottom: 2rem; }
  .page-findADistributor .ctr-left .ctr-countrySelect {
    margin-bottom: 2rem; }
  .page-findADistributor .ctr-left .countrySelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 0 0 18px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    cursor: pointer; }
    .page-findADistributor .ctr-left .countrySelect p {
      color: #888888;
      line-height: 1rem; }
    .page-findADistributor .ctr-left .countrySelect .ctr-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 80%;
      margin-right: 3px;
      border-left: 1px solid #DDDDDD; }
    .page-findADistributor .ctr-left .countrySelect svg {
      fill: #888888; }
  .page-findADistributor .ctr-left .dropdown {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 6px;
    max-height: 300px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-top: none;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.1); }
    .page-findADistributor .ctr-left .dropdown li {
      display: flex;
      align-items: center;
      padding: 6px 16px;
      color: #555555; }
      .page-findADistributor .ctr-left .dropdown li:first-of-type {
        padding-top: 22px; }
      .page-findADistributor .ctr-left .dropdown li:last-of-type {
        padding-bottom: 22px; }
      .page-findADistributor .ctr-left .dropdown li:hover {
        background-color: #EAEAEA; }
    .page-findADistributor .ctr-left .dropdown img {
      width: 21px;
      height: 15px; }
    .page-findADistributor .ctr-left .dropdown span {
      margin: 1px 0 0 10px; }

.page-findADistributor .distributorCard {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.1); }
  .page-findADistributor .distributorCard .ctr-top {
    padding: 2rem 24px; }
  .page-findADistributor .distributorCard h3 {
    margin-bottom: 1rem; }
  .page-findADistributor .distributorCard .ctr-bottom {
    padding: 6px; }
  .page-findADistributor .distributorCard .alignItems {
    padding: 10px 18px;
    cursor: pointer;
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .page-findADistributor .distributorCard .alignItems:hover {
      background-color: #EAEAEA; }
    .page-findADistributor .distributorCard .alignItems:first-child {
      padding-top: 24px; }
    .page-findADistributor .distributorCard .alignItems:last-child {
      padding-bottom: 24px; }
    .page-findADistributor .distributorCard .alignItems svg {
      fill: #888888;
      min-width: 24px;
      min-height: 24px; }
    .page-findADistributor .distributorCard .alignItems p {
      margin-left: 14px;
      line-height: 1.4rem;
      word-break: break-all; }
  .page-findADistributor .distributorCard .tooltip {
    position: absolute;
    left: 20px;
    top: -16px;
    z-index: 90;
    padding: 4px 14px;
    background-color: #303030;
    border-radius: 3px; }
    .page-findADistributor .distributorCard .tooltip span {
      color: #FFFFFF;
      white-space: nowrap; }
  .page-findADistributor .distributorCard .tooltipPoint {
    position: absolute;
    top: 50%;
    left: -5px;
    z-index: -1;
    transform: translateY(-50%) rotate(-45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
    border-radius: 2px 0 0; }

.page-findADistributor .ctr-right {
  flex: 2;
  position: relative;
  min-height: 470px;
  margin: 0 1rem 0 2rem; }
  .page-findADistributor .ctr-right .map {
    height: 100%;
    background-color: #EAEAEA;
    border: 1px solid #DDDDDD; }

@media (max-width: 1080px) {
  .page-findADistributor .row-offset-1rem {
    flex-direction: column; }
    .page-findADistributor .row-offset-1rem .distributorCard {
      margin-bottom: 2rem; }
    .page-findADistributor .row-offset-1rem .ctr-right {
      margin-left: 1rem;
      min-height: 500px;
      min-height: 60vw; } }

@media (max-width: 580px) {
  .page-findADistributor .distributorCard .relative {
    position: absolute;
    left: 0;
    width: 100%; }
  .page-findADistributor .distributorCard .tooltip {
    left: 50%;
    top: 36px;
    transform: translateX(-50%); }
  .page-findADistributor .distributorCard .tooltipPoint {
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg); } }

.hoverImg {
  position: relative;
  margin-bottom: 4rem; }
  .hoverImg:hover .goldenShard {
    background-position: right center; }
  .hoverImg .bgImg {
    width: 100%;
    height: auto;
    padding: 50% 0 0 0;
    background-position: center;
    background-size: cover; }
  .hoverImg .ctr-label {
    position: absolute;
    bottom: -25px;
    right: 10%;
    height: 50px;
    width: 40%; }
  .hoverImg .goldenShard {
    height: 100%;
    width: 100%;
    background-color: #FFC324;
    background-image: linear-gradient(to right, #FFC324, #FEE86B, #FFC324);
    background-size: 200% auto;
    box-shadow: 0 14px 30px -8px rgba(215, 156, 0, 0.5);
    transform: skewX(-23deg);
    transition: 0.5s; }
  .hoverImg h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); }
  @media (max-width: 1100px) {
    .hoverImg h3 {
      font-size: 1.3rem;
      line-height: 1.3rem;
      padding: 0 20px; } }
  @media (max-width: 420px) {
    .hoverImg .ctr-label {
      right: 10%;
      height: 50px;
      width: 80%; } }
