html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #F8F8F8; }

h4, h5, p, li, a, .btn, span, label, input, select, textarea {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3 {
  color: #303030;
  font-family: "bebas-neue", 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  margin: 0;
  font-size: 3.815rem;
  line-height: 3.815rem; }

h2 {
  margin: 0;
  font-size: 2.441rem;
  line-height: 2.441rem; }

h3 {
  margin: 0;
  font-size: 1.563rem;
  line-height: 1.563rem; }

h4 {
  color: #303030;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px; }

h5 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 900; }

p, input, select, textarea, span {
  margin: 0;
  color: #555555;
  font-size: 1rem;
  line-height: 1.5rem; }

a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none; }

a, li, label, .btn, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

hr {
  border: 0;
  margin: 0;
  padding: 0;
  border-top: 1px solid #DDDDDD; }

sup {
  line-height: 0; }

input, select, textarea, a {
  outline: none;
  box-shadow: none; }

.bodyCopy {
  margin-bottom: 1rem; }

.linkInBodyCopy {
  padding: 3px 8px;
  background-color: #F8F8F8;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  transition: 0.1s ease-in-out; }
  .linkInBodyCopy:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #FFC324; }

.bold {
  font-weight: 900; }

.italic {
  font-style: italic; }

.pageWrap {
  min-height: 100vh;
  min-height: calc(100vh - 550px); }

section {
  position: relative; }

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 1rem 0; }

.row-offset-8 {
  display: flex;
  margin: 0 -8px; }

.row-offset-1rem {
  display: flex;
  margin: 0 -1rem; }

.accentBar {
  width: 80px;
  height: 6px;
  margin: 1rem 0;
  background-color: #FFC324;
  background-image: linear-gradient(to right, #FFC324 0%, #FEE86B 100%); }

button {
  border: none; }

.btn {
  padding: 1.2rem 3rem;
  color: #303030;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s; }

.btn-gold {
  background-color: #FFC324;
  background-image: linear-gradient(to right, #FFC324 0%, #FEE86B 100%);
  font-family: "bebas-neue", 'Roboto', sans-serif;
  font-weight: normal; }

.btn-lg {
  font-size: 1.563rem;
  line-height: 1.563rem; }

.btn-sm {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 700; }

.btn:hover, .btn:focus {
  transform: translateY(2px); }

.card {
  background-color: #FFFFFF;
  box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.1); }

.caption {
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin: 0;
  padding: 0; }

.fadeInUp-enter {
  transform: translateY(16px);
  opacity: 0; }

.fadeInUp-enter-active {
  transform: translateY(0px);
  opacity: 1;
  transition: 300ms ease-in-out; }

.fadeInUp-exit {
  transform: translateY(0px);
  opacity: 1;
  transition: 300ms ease-in-out; }

.fadeInUp-exit-active {
  transform: translateY(16px);
  opacity: 0; }

.fadeIn-enter {
  opacity: 0; }

.fadeIn-enter-active {
  opacity: 1;
  transition: 300ms ease-in-out; }

.fadeIn-exit {
  opacity: 1;
  transition: 300ms ease-in-out; }

.fadeIn-exit-active {
  opacity: 0; }

@media (max-width: 420px) {
  .wrap {
    padding: 6rem 20px 0; }
  h1 {
    margin-bottom: 1.4rem;
    font-size: 2.8rem; } }

nav {
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.1);
  z-index: 100; }
  nav .wrap-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem; }
  nav .ctr-logoLockup {
    display: flex;
    align-items: center; }
  nav .ctr-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 100%;
    cursor: pointer; }
    nav .ctr-logo img {
      width: 207px;
      height: 36px; }
  nav .divider {
    width: 1px;
    height: 40px;
    background-color: #AAAAAA;
    margin-left: 20px; }
  nav .ctr-text {
    overflow: hidden; }
    nav .ctr-text li {
      color: #555555;
      font-family: "bebas-neue", 'Roboto', sans-serif;
      font-size: 1.1rem;
      line-height: 1.1rem;
      margin-left: 8px;
      text-transform: uppercase;
      transform: translateX(-120%); }
      nav .ctr-text li:nth-child(1) {
        animation-name: lockupTextAnimate;
        animation-duration: 650ms;
        animation-delay: 400ms;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards; }
      nav .ctr-text li:nth-child(2) {
        animation-name: lockupTextAnimate;
        animation-duration: 650ms;
        animation-delay: 500ms;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards; }

@keyframes lockupTextAnimate {
  0% {
    transform: translateX(-120%); }
  100% {
    transform: translateX(0); } }
  nav .menuBtn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: calc(100% - 12px);
    margin: 6px;
    cursor: pointer;
    transition: 0.3s; }
  nav .menuBtn:hover {
    background-color: #EFF3F5; }

.navMenu-desktop {
  position: relative;
  display: flex;
  height: 100%; }
  .navMenu-desktop .navItem {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 14px;
    cursor: pointer;
    transition: 0.3s; }
    .navMenu-desktop .navItem span, .navMenu-desktop .navItem li {
      color: #555555;
      font-weight: 700;
      font-size: 0.8rem;
      text-transform: uppercase; }
    .navMenu-desktop .navItem:hover {
      background-color: #EAEAEA; }
  .navMenu-desktop svg {
    width: 18px;
    height: 18px;
    fill: #555555;
    margin: 0 -4px -1px 3px;
    transition: 0.3s; }
  .navMenu-desktop .dropdown {
    position: absolute;
    top: 76px;
    right: 0;
    min-width: 260px;
    padding: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    transition: 0.3s ease-in-out; }
    .navMenu-desktop .dropdown a {
      display: flex;
      padding: 0.8rem 1.8rem; }
      .navMenu-desktop .dropdown a:first-of-type {
        padding-top: 1.4rem; }
      .navMenu-desktop .dropdown a:last-of-type {
        padding-bottom: 1.4rem; }
      .navMenu-desktop .dropdown a:hover {
        background-color: #EAEAEA; }
    .navMenu-desktop .dropdown li {
      display: flex;
      align-items: center; }
    .navMenu-desktop .dropdown img {
      width: 21px;
      height: 15px; }
    .navMenu-desktop .dropdown span {
      margin: 1px 0 0 8px; }
    .navMenu-desktop .dropdown hr {
      margin: 6px 0; }

/* ************* */
/* Media Queries */
/* ************* */
@media (max-width: 960px) {
  .navMenu-desktop {
    display: none; } }

@media (max-width: 960px) {
  nav .wrap-nav {
    padding-right: 0; }
  nav .menuBtn {
    display: flex; } }

@media (max-width: 640px) {
  nav {
    height: 60px; }
    nav .ctr-logo {
      width: 170px; }
      nav .ctr-logo img {
        width: 170px;
        height: 30px; }
    nav .menuBtn {
      width: 48px; } }

footer {
  margin-top: 120px;
  width: 100%;
  background-color: #303030; }
  footer hr {
    border-top: 1px solid #555555; }

/* Top Section */
.footer-wrap-top {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
  /* About box */ }
  .footer-wrap-top .ctr-top {
    display: flex;
    justify-content: space-between; }
  .footer-wrap-top .ctr-pageListings {
    flex: 8;
    display: flex;
    padding-top: 36px; }
  .footer-wrap-top ul {
    padding-right: 12%; }
  .footer-wrap-top h5 {
    color: #AAAAAA;
    margin-bottom: 0.6rem; }
  .footer-wrap-top li {
    color: #AAAAAA;
    font-size: 14px;
    padding: 4px 0;
    transition: 0.2s; }
    .footer-wrap-top li:hover {
      color: #FFC324; }
  .footer-wrap-top .ctr-about {
    flex: 4;
    min-width: 300px;
    background-color: #555555;
    padding: 36px 24px; }
  .footer-wrap-top p {
    color: #AAAAAA;
    font-size: 0.88rem;
    line-height: 1.3rem;
    margin: 0px; }
    .footer-wrap-top p:nth-of-type(2) {
      margin: 1rem 0 3rem; }
  .footer-wrap-top .ctr-social {
    display: flex;
    align-items: center; }
    .footer-wrap-top .ctr-social h5 {
      margin: 0 1rem 0 0; }
    .footer-wrap-top .ctr-social a:hover svg {
      color: #FFC324; }
    .footer-wrap-top .ctr-social svg {
      color: #AAAAAA;
      margin: 6px;
      transition: 0.2s ease-in-out; }

/* Bottom Section */
.footer-wrap-bottom {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem; }
  .footer-wrap-bottom .ctr-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%; }
  .footer-wrap-bottom img {
    width: 207px;
    height: 37px; }
  .footer-wrap-bottom span, .footer-wrap-bottom a {
    color: #AAAAAA;
    font-size: 0.8rem; }
  .footer-wrap-bottom a {
    text-decoration: transparent;
    transition: 0.3s; }
    .footer-wrap-bottom a:hover {
      text-decoration: underline; }

@media (max-width: 960px) {
  * footer {
    margin-top: 80px; } }

@media (max-width: 730px) {
  * .ctr-pageListings {
    flex: 4;
    flex-direction: column; }
  * .ctr-bottom {
    flex-direction: column;
    justify-content: center;
    height: 150px; }
  * .ctr-bottom svg {
    width: 164px;
    height: 30px;
    margin-bottom: 1.3rem; } }

@media (max-width: 560px) {
  * .backToTop {
    right: 20px; }
  * .ctr-top {
    justify-content: space-between;
    flex-direction: column; }
  * .ctr-pageListings {
    text-align: center; }
  * .ctr-pageListings .navigation {
    padding: 0 !important; }
  * .ctr-about {
    margin: 2rem -30px 0;
    padding: 36px 30px; }
  * .ctr-bottom a {
    display: block;
    text-align: center; }
  * .ctr-bottom a {
    margin-top: 0.6rem; }
  * .ctr-bottom span:nth-of-type(3) {
    display: none; } }

@media (max-width: 420px) {
  * .footer-wrap-top {
    padding: 0 20px; }
  * .ctr-about {
    margin: 2rem -20px 0;
    padding: 36px 20px; } }

@media (max-width: 400px) {
  * .ctr-bottom span {
    display: block;
    text-align: center; } }

.ctr-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 710px;
  background-color: #F8F8F8;
  background-image: url(./../../img/hero-bg.jpg);
  background-position: center;
  background-size: cover; }
  .ctr-hero h1 {
    margin: 0;
    text-align: center;
    color: #FFC324; }
  .ctr-hero h4 {
    max-width: 700px;
    margin: 30px auto 0;
    text-align: center;
    color: #F8F8F8; }
  .ctr-hero .btn {
    margin-top: 1.8rem; }

.section-cta {
  padding-top: 100px; }
  .section-cta .cta {
    flex: 1;
    margin: 0 15px; }
  .section-cta .bgImg {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 62% 0 0 0;
    margin-bottom: 2.4rem;
    background-color: #EAEAEA;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s;
    box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.3); }
    .section-cta .bgImg:hover {
      transform: translateY(2px); }
  .section-cta .bgImg-1 {
    background-image: url(./../../img/cta_hustlerStory.jpg); }
  .section-cta .bgImg-2 {
    background-image: url(./../../img/cta_whyHustler.jpg); }
  .section-cta .bgImg-3 {
    background-image: url(./../../img/cta_dealerPhoto.jpg); }
  .section-cta h2 {
    font-family: "bebas-neue", 'Roboto', sans-serif;
    font-weight: normal;
    margin-bottom: 0.5rem; }
  .section-cta p {
    margin-bottom: 1rem;
    padding-right: 1rem; }
  .section-cta .textBtn {
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 120px; }
    .section-cta .textBtn:hover svg {
      transform: translateX(3px); }
    .section-cta .textBtn h3 {
      display: inline;
      font-family: "bebas-neue", 'Roboto', sans-serif;
      font-weight: normal; }
    .section-cta .textBtn svg {
      fill: #303030;
      transition: 0.2s ease-in-out; }

@media (min-width: 1500px) {
  .ctr-hero {
    height: 1200px;
    height: 50vw; } }

.ctr-productsPage .row-offset-1rem {
  flex-wrap: wrap;
  justify-content: flex-start; }
  .ctr-productsPage .row-offset-1rem .ctr-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(33.33% - 30px);
    margin: 220px 15px 80px; }
    @media (max-width: 960px) {
      .ctr-productsPage .row-offset-1rem .ctr-card {
        width: calc(50% - 30px); } }
    @media (max-width: 600px) {
      .ctr-productsPage .row-offset-1rem .ctr-card {
        width: calc(100% - 30px); } }
  .ctr-productsPage .row-offset-1rem .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer; }
    .ctr-productsPage .row-offset-1rem .card:hover .ctr-productImg {
      transform: translateY(3px); }
  .ctr-productsPage .row-offset-1rem .ctr-productImg {
    pointer-events: none;
    position: relative;
    bottom: -16px;
    width: 100%;
    height: 90px;
    transition: 0.2s ease-in-out; }
    .ctr-productsPage .row-offset-1rem .ctr-productImg img {
      position: absolute;
      bottom: 0;
      left: 6%;
      width: 88%; }
  .ctr-productsPage .row-offset-1rem .txtBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 70px;
    border-top: 1px solid #DDDDDD; }
    .ctr-productsPage .row-offset-1rem .txtBtn svg {
      fill: #303030; }

.ctr-productsPage .ctr-productInfo {
  padding: 0 24px 30px;
  flex: 1; }
  .ctr-productsPage .ctr-productInfo h2 {
    margin-bottom: 8px; }
  .ctr-productsPage .ctr-productInfo p {
    margin-bottom: 20px; }
  .ctr-productsPage .ctr-productInfo .idealFor {
    display: flex; }
  .ctr-productsPage .ctr-productInfo svg {
    margin: 2px;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    fill: #303030; }
  .ctr-productsPage .ctr-productInfo span {
    margin-left: 6px; }

.ctr-productsPage .modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 200; }

.ctr-productsPage .ctr-productModal--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 210; }

.ctr-productsPage .ctr-productModal--scroll {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  overflow-y: auto;
  z-index: 220; }

.ctr-productsPage .productModal {
  position: relative;
  margin: 3rem auto;
  width: 700px;
  max-width: 100%;
  background-color: #FFFFFF;
  z-index: 300; }
  .ctr-productsPage .productModal .ctr-productModalTop {
    position: relative; }
  .ctr-productsPage .productModal .close {
    position: absolute;
    z-index: 310;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .ctr-productsPage .productModal .close svg {
      fill: #FFFFFF; }
    .ctr-productsPage .productModal .close:hover {
      background-color: rgba(255, 255, 255, 0.15); }
  .ctr-productsPage .productModal .productBgImg {
    background-color: #EAEAEA;
    width: 100%;
    height: 310px;
    background-position: center;
    background-size: cover; }
  .ctr-productsPage .productModal .ctr-productInfo {
    position: absolute;
    top: 0;
    width: 360px;
    padding: 50px 30px; }
    .ctr-productsPage .productModal .ctr-productInfo h2 {
      color: #FFFFFF;
      font-size: 3rem;
      line-height: 3rem; }
    .ctr-productsPage .productModal .ctr-productInfo p {
      margin-bottom: 20px;
      color: #FFFFFF; }
    .ctr-productsPage .productModal .ctr-productInfo svg {
      fill: #FFFFFF; }
    .ctr-productsPage .productModal .ctr-productInfo span {
      color: #FFFFFF; }
  .ctr-productsPage .productModal .ctr-productImg {
    position: absolute;
    bottom: -120px;
    right: 10px;
    width: 380px; }
    .ctr-productsPage .productModal .ctr-productImg img {
      width: 100%; }
  .ctr-productsPage .productModal .ctr-productModalBottom {
    margin-top: 100px;
    overflow: hidden; }
  .ctr-productsPage .productModal h3 {
    margin: 12px 30px; }
  .ctr-productsPage .productModal .ctr-model {
    position: relative;
    border-top: 1px solid #DDDDDD;
    padding: 22px 30px; }
    .ctr-productsPage .productModal .ctr-model p {
      margin: 0; }
    .ctr-productsPage .productModal .ctr-model:last-of-type {
      border-bottom: 1px solid #DDDDDD; }
  .ctr-productsPage .productModal .modelNum {
    position: absolute;
    top: 10px;
    right: 30px; }
    .ctr-productsPage .productModal .modelNum span {
      color: #AAAAAA;
      font-size: 0.8rem; }
  .ctr-productsPage .productModal .btn {
    margin: 20px 30px; }

.page-hustlerStory .row-offset-1rem {
  margin-top: 4rem; }

.page-hustlerStory .ctr-left {
  flex: 1;
  margin: 0 1rem; }
  .page-hustlerStory .ctr-left h2:last-of-type {
    margin-bottom: 1rem; }

.page-hustlerStory .ctr-right {
  flex: 2;
  margin: 0 1rem 0 4rem; }
  .page-hustlerStory .ctr-right img {
    width: 100%;
    box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.3); }

.page-whyHustler .row-offset-1rem {
  margin-top: 4rem; }

.page-whyHustler .ctr-left {
  flex: 1.2;
  margin: 0 1rem; }
  .page-whyHustler .ctr-left h2 {
    margin-bottom: 0.6rem; }
  .page-whyHustler .ctr-left p {
    margin-bottom: 3rem; }
  .page-whyHustler .ctr-left sup {
    font-size: 1.2rem; }

.page-whyHustler .ctr-right {
  flex: 2;
  margin: 0 1rem 0 4rem; }

.page-europeanDistribution .row-offset-1rem {
  margin-top: 4rem; }

.page-europeanDistribution .ctr-left {
  flex: 1;
  margin: 0 1rem; }

.page-europeanDistribution .btn {
  margin-top: 2rem;
  display: inline-block; }

.page-europeanDistribution .ctr-right {
  flex: 2;
  margin: 0 1rem 0 4rem; }
  .page-europeanDistribution .ctr-right img {
    width: 100%;
    box-shadow: 0 12px 30px -6px rgba(0, 0, 0, 0.3); }

.hoverImg {
  position: relative;
  margin-bottom: 4rem; }
  .hoverImg:hover .goldenShard {
    background-position: right center; }
  .hoverImg .bgImg {
    width: 100%;
    height: auto;
    padding: 50% 0 0 0;
    background-position: center;
    background-size: cover; }
  .hoverImg .ctr-label {
    position: absolute;
    bottom: -25px;
    right: 10%;
    height: 50px;
    width: 300px; }
  .hoverImg .goldenShard {
    height: 100%;
    width: 100%;
    background-color: #FFC324;
    background-image: linear-gradient(to right, #FFC324, #FEE86B, #FFC324);
    background-size: 200% auto;
    box-shadow: 0 14px 30px -8px rgba(215, 156, 0, 0.5);
    transform: skewX(-23deg);
    transition: 0.5s; }
  .hoverImg h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); }
